/* Feed containers */
.main-news-images-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  margin: -1rem 2rem 0rem 2rem;
  gap: 1rem;
}
.newsfeed-container {
  height: 100rem;
  overflow-y: auto;
  z-index: 4;
  border: #16333d 15px solid;
  border-radius: 20px / 18px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.search-feed-container {
  height: 200rem;
  overflow-y: auto;
  z-index: 4;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.feed-header {
  font-family: "Roboto", sans-serif !important;
  font-weight: 400 !important;
  font-size: 35px;
  margin-top: 1rem;
  justify-content: center;
  color: rgb(227, 181, 102);
  width: 90%;
}

/* APOD Elements */
.apod-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #16333d 15px solid;
  border-radius: 2%;
  height: 830px;
  width: 100%;
  max-width: 1060px;
  overflow: hidden;
  background: black;
}
.ReactModal__Content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel {
  height: 100%;
  width: 100%;
  margin: 0;
  background: black;
  border-radius: 2%;
  position: relative;
  overflow: hidden;
}
.carousel-inner, .carousel-item {
  height: 100%;
}
.carousel-item img {
  margin: auto;
}
.apod-slide {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.apod-image {
  display: block;
  object-fit: contain;
}

.apod-image--normal {
  max-width: 90%;
  max-height: 850px;
}

.apod-image--fullscreen {
  max-width: 100%;
  max-height: 800px;
}
/* .apod-image-normal {
  max-width: 75%;
  max-height: 600px;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}
.apod-image-fullscreen {
  max-width: 100%;
  max-height: 100% !important;
  width: auto;
  height: auto;
  object-fit: contain;
  margin: auto;
  display: block;
} */

/* Feed Elements */
.news-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  border: #16333d 1px solid;
  background-color: black;
  padding: 1rem 0rem 2rem 0rem;
  margin: 1rem 0rem 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
}

img.space-image,
img.article-image {
  height: auto;
  max-width: 100%;
  display: block;
}
.article-title,
.space-image-title {
  font-family: "Inter", sans-serif;
  font-size: large;
  font-weight: 200;
  color: white;
}
.space-image-title {
  font-family: "Inter", sans-serif;
  margin-top: 1rem;
}
.article-image {
  width: 25%;
  margin-bottom: 1rem;
}
.article-description {
  font-family: "Inter", sans-serif !important;
  font-weight: 200;
  padding-bottom: 2rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.footer {
  padding: 5rem 0rem 5rem 0rem;
}

/* Buttons */
.btn-bd-custom {
  font-weight: 200 !important;
  background-color: #16333d !important;
  color: #ffffff !important;
}
.btn-bd-custom:hover {
  background-color: #265a48 !important;
  border-color: #16333d;
  color: #ffffff;
}
.btn-bd-custom:active {
  background-color: #265a48 !important;
  border-color: #16333d;
}
