.feedsContainer {
  padding: 0rem 5rem 5rem 5rem;
  width: 100%;
  
}
.limitedFeedContainer {
  height: 300rem; /* Set a fixed height */
  overflow-y: auto;
  z-index: 4;
  border: #16333d 1px solid;
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.feedHeaderContainer {
  font-weight: 200 !important;
  font-size: 30px;
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;    
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.feedHeader1 {
  font-family: "Inter", sans-serif !important;
  margin: 0% 0% 0% 13.5%;
  color: white;
} 
.feedHeader2 {
  font-family: "Inter", sans-serif !important;
  margin: 0% 0% 0% 26.5%;
  color: white;
}
.spaceImageCard, .newsCard {
  box-shadow: 0 4px 8px rgba(0,0,0,0.7);
  border: #16333d 1px solid;
  background-color: black;
  padding: 1rem 0rem 2rem 0rem;
  margin: 1rem 0rem 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%; 
}

img.spaceImage,img.articleImage {
  width: 96.5%;
  height: auto;
  max-width: 100%;
  display: block;
}
.articleTitle, .spaceImageTitle {
  font-family: 'Inter', sans-serif;
  font-size: large;
  font-weight: 200;
  color: white;
}
.articleImage {
  width: 25%;
  margin-bottom: 1rem;
}
.articleDescription {
  font-family: 'Inter', sans-serif !important;
  font-weight: 200;
  padding-bottom: 2rem;
  padding: .5rem .5rem .5rem .5rem;
}
.footer {
  padding: 5rem 0rem 5rem 0rem;
}
.btn-bd-primary {
  font-family: 'Inter', sans-serif;
  --bs-btn-font-weight: 200;
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #16333d;
  --bs-btn-hover-color:  #ffffff;
  --bs-btn-hover-bg:  #265a48;
  --bs-btn-hover-border-color: #16333d;
  --bs-btn-active-bg:#265a48;
  --bs-btn-active-border-color: #16333d;
}
