.feedContainer {
  width: auto;
  display: flex;
}
.feedButton {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  background-color: rgb(0, 0, 0) !important;
  border: 0.5rem outset rgb(31, 21, 32);
  color: white;
  margin: 2rem 0rem 1rem 0rem;
  max-width: 10rem;
}
.newsfeedContainer {
  width: 100%;
  border: 1px solid black;
}
.newsfeedHeader {
  width: 100%;
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  display: flex;
  justify-content: space-around;
  font-size: xx-large;
  padding-top: 5rem;
}
.articleTitle {
  font-size: large;
  padding: 2rem 2rem 2rem 2rem;
}
.articleImage {
  width: 50%;
  height: auto;
}
.articleDescription {
  margin: 0rem 5rem 2rem 5rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2rem;
  font-size: small;
  padding: 2rem 2rem 2rem 2rem;
}

.spaceImagesFeedContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.apodHeader {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: xx-large;

  padding-top: 5rem;
}
.spaceImageCard {
  width: auto;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.7);
}
.spaceImage {
  width: 45rem;
  margin: 0;
}
.spaceImageTitle {
  font-size: medium;
  color: white;
  margin-bottom: 2rem;
}
.footer {
  padding: 2rem 0rem 5rem 0rem;
}