.mainNewsImagesContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  margin: -1rem 2rem 0rem 2rem;
  gap: 1rem;
}
/* .newsFeedContainer {
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem 5rem 2rem;
  max-width: 40%;
} */
.newsFeedContainer {
  height: 100rem; /* Set a fixed height */
  overflow-y: auto;
  z-index: 4;
  border: #16333d 15px solid;
  border-radius: 20px / 18px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.searchFeedContainer {
  height: 200rem;
  overflow-y: auto;
  z-index: 4;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.feedHeader {
  font-family: "Roboto", sans-serif !important;
  font-weight: 400 !important;
  font-size: 35px;
  margin-top: 1rem;
  justify-content: center;
  color: rgb(227, 181, 102);
  width: 90%;
}
.carousel {
  display: flex;
  max-height: 820px;
  max-width: 1060px;
  border: #16333d 15px solid;
  background: black;
  border-radius: 2%;
  overflow: hidden;
  position: relative;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  margin: auto
}
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-5%);
  width: auto;
  padding: 0 20px;
}
.carousel-control-prev {
  left: 5px;
  right: auto;
}
.carousel-control-next {
  right: 10px;
  left: auto;
}

.newsCard {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  border: #16333d 1px solid;
  background-color: black;
  padding: 1rem 0rem 2rem 0rem;
  margin: 1rem 0rem 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
}

img.spaceImage,
img.articleImage {
  height: auto;
  max-width: 100%;
  display: block;
}
.articleTitle,
.spaceImageTitle {
  font-family: "Inter", sans-serif;
  font-size: large;
  font-weight: 200;
  color: white;
}
.spaceImageTitle {
  font-family: "Inter", sans-serif;
  margin-top: 1rem;
}
.articleImage {
  width: 25%;
  margin-bottom: 1rem;
}
.articleDescription {
  font-family: "Inter", sans-serif !important;
  font-weight: 200;
  padding-bottom: 2rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.footer {
  padding: 5rem 0rem 5rem 0rem;
}
.prevNextButtonContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.prevNextButton {
  width: 5rem;
}
.btn-bd-custom {
  --bs-btn-font-weight: 200;
  --bs-btn-bg: #16333d;
}
.btn-bd-custom:hover {
  background-color: #265a48 !important;
  border-color:  #16333d;
  color: #ffffff;
}
.btn-bd-custom:active {
  background-color: #265a48 !important;
  border-color:  #16333d;;
}
.searchBarContainer {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}
.inputWrapper {
  background-color:  rgb(222, 204, 174);
  width: 100%;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
}
input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
}
input:focus {
  outline: none;
}