/* .feedContainer {
  display: block;
} */

.articleTitle {
  font-size: large;
  color: white;
}
.articleImage {
  width: 25%;
}
.articleDescription {
  margin: 0rem 5rem 2rem 5rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2rem;
  font-size: small;
  padding: 2rem 2rem 2rem 2rem;
}
.spaceImageCard, .newsCard {
  box-shadow: 0 4px 8px rgba(0,0,0,0.7);
  padding: 3rem 0rem 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
}
img.spaceImage,img.articleImage {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}
.spaceImageTitle {
  font-size: large;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  color: white;

}
.footer {
  padding: 2rem 0rem 5rem 0rem;
}