
.alertContainer {
  position: fixed !important;
  top: 3% !important;
  display: flex;
  justify-content: center;
  background-image: url("../assets//logo/QwRky_logo.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 35%;
  align-items: center;
  z-index: 101;
}
.welcomeAlert {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px !important;
  width: 90%;
  height: auto;
  z-index: 100;
  padding: 3rem !important;
}

.bs-alert-border-color {
  border: none !important;
}
.welcomeAlertTextContainer {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 14px;
  display: grid;
  justify-items: center;
  text-align: center;
  border-radius: 16px !important;
  background: rgb(246, 205, 147);
  height: 18rem;
  max-width: 50%;
  height: 50%;
  min-width: 25%;
  padding: 2rem 8rem 2rem 8rem;
  margin: 18% 5% 18% 5%;
  z-index: 103;
}
.btn-close {
  position: absolute;
  font-size: 2rem;
  filter: invert(1) grayscale(100%) brightness(200%);
  background: transparent;
  border: none;
  cursor: pointer;
}

div.articleDescription,
p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-bottom: "2rem";
  border-bottom: "1px solid #ccc";
  padding-bottom: "2rem";
  display: flex;
  flex-wrap: wrap;
  max-width: 80rem;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

/* .articleImage {
  width: 80rem;
} */

/* .newsfeedHeader {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(220, 219, 219);
  padding-left: 1em;
} */

/* .newsheaderContainer {
  width: 100%;
  height: 70px;
  background-color: gray;
  display: flex;
  align-items: center;
  padding-top: 10em;
} */
