.background {
  /* background: linear-gradient(-45deg, #391d35, #201527, #151225); */
  background: linear-gradient(360deg, #06061b 93%, #16333d 98%, #265a48);
  background-size: 400% 100%; /* Make the background larger than the element */
  /* animation: gradient-animation 15s ease infinite; */
  padding-top: 7rem;
  margin: 0;
  min-height: 100vh;
  width: 101%;
  font-family: "Inter", sans-serif;
  z-index: 1;
}

/* @keyframes gradient-animation {
  0% {
    background-position: 0% 50%; 
  }
  50% {
    background-position: 100% 50%; Middle position
  }
  100% {
    background-position: 0% 50%;
  }
} */

/* Carousel Elements */
/* .banner {
  width: 100%;
  height: 80vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.banner .slider {
  position: relative;
  width: 10rem;
  height: 10rem;
  top: 11%;
  left: calc(50% - 5rem);
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
} */

/* @keyframes autoRun{
    from{transform: perspective(1000px) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateY(-360deg)
    }
} */

/* .banner .slider .item {
  position: absolute;
  inset: 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(300px);
} */

/* .banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.6s ease-in-out, box-shadow 0.3s ease-in-out;
} */
/* img:hover {
  box-shadow: 0 0 20px rgba(243, 243, 243, 0.9);
  transform: scale(1.1);
  gap: 1rem;
} */

/* .carouselContainer {
  backdrop-filter: blur(10px);
  width: 50rem;
  height: 20rem;
  background-color: rgb(20, 22, 46);
} */

/* .carouselButtons {
  top: 10%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  transform: translateY(-27rem);
}

.carouselButtons:hover {
  cursor: pointer
} */
