.qrkyLogo {
  margin-left: 2rem;
  height: 6rem;
}
.navbar-expand-lg {
  background-color: rgba(57, 55, 55, 0.361);
  backdrop-filter: blur(10px) !important; /* Adjust the pixel value for more/less blur */
  box-shadow: 0 40px 30px rgba(0, 0, 0, 0.1) !important; 
  width: 100%;
  color: white;   
  position: fixed !important;
  top: 0 !important;
  z-index: 3;
}
.navbarContainer {
  height: 7rem;
}
.navLink {  
  font-family: 'Inter', sans-serif;
  font-weight: 200 !important;
  color: white !important;
  margin: 0rem 2rem 0rem 2rem;
}
