.newsFeedContainer {
  width: 100%;
  height: 100%;
  z-index: 0;
  border: 1px black;
}
.articleTitle {
  font-size: large;
  padding: 2rem 2rem 2rem 2rem;
}
.articleImage {
  width: 50%;
  height: auto;
}
.articleDescription {
  margin: 0rem 5rem 2rem 5rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2rem;
  font-size: small;
  padding: 2rem 2rem 2rem 2rem;
}

.newsfeedHeader {
  display: flex;
  justify-content: space-around;
  font-size: xx-large;
  padding-top: 5rem;
}
.footer {
  padding: 2rem 0rem 5rem 0rem;
}